CompileFlags:
  Compiler: g++
  Add:
    - "-std=c++17"
    - "-D_REENTRANT"
    - "-nostdinc"
    - "-nostdinc++"
    - "-IC:/msys64/ucrt64/include/c++/15.2.0"
    - "-IC:/msys64/ucrt64/include/c++/15.2.0/x86_64-w64-mingw32"
    - "-IC:/msys64/ucrt64/include/c++/15.2.0/backward"
    - "-IC:/msys64/ucrt64/lib/gcc/x86_64-w64-mingw32/15.2.0/include"
    - "-IC:/msys64/ucrt64/include"
    - "-IC:/msys64/ucrt64/lib/gcc/x86_64-w64-mingw32/15.2.0/include-fixed"
  Remove:
    - "-m*"
    - "--target=*"
